body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #023b5c;
    color: goldenrod;
}

#board{
    height: 545px;
    width: 475px;
    background-color: beige;
    margin: 0 auto;
    border: 10px solid lightgray;
    flex-wrap: wrap;
}

.card{
    height: 128px;
    width: 90px;
    margin: 2.5px;
}

a{
    background: #5c0220ee;
    color: white;
    border-radius: 9px;
    border-style: none;
    cursor: pointer;
    padding: 15px 15px;
    text-decoration: none;
    position: relative;
    left:10px;
    top:30px;
}